<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <header><h1>CSS</h1></header>
    <main>
    <h2>introduction to CSS layout and position </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
      
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
      
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quam mollitia eius vitae voluptates. Officiis laborum vero praesentium, sed eaque optio ipsum deserunt dignissimos, incidunt culpa soluta quisquam autem earum?</p>
    <div class="container">
  <section class="card">
    <div class="square">1</div>
    <div class="square">2</div>
    <div class="square">3</div>
    <div class="square">4</div>

  </section>
  </div>
  </main> 
</body>Z
</html>