.container{
    background-color: rgb(77, 214, 214);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vh;
    

}
.btn{
    background: white;
    text-align: center;
  border: none;
    padding: 10pxpx;
    

    
}
.in{
color: aquamarine;
width: 200px;
}

