*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
header{
    text-align: center;
}
header h1{
    color: darkslategray;
    font-size: 1.5rem;
}
header p{
    color: lightgray;
}
.card{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px black;
    border-top: 2px solid red;
    text-align: center;
    margin-bottom: 20px;
}
.card div{
    background-color: purple;
    border-radius: 50%;
    width:50px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}
.card h2{
    color: darkred;
}
.card p{
    color: blueviolet;
    text-transform: uppercase;
}
.card ul{
    list-style-type:none;
}
.card ul li{
    background-color: lightcyan;
    border-radius: 1opx;
    margin-bottom: 10px;
    padding: 5px;
}
.card a{
    text-decoration: none;
    background-color: darkslategrey;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.card a:hover{background-color: darkgoldenrod;
}
main{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;

}